*{
font-family:tahoma, sans serif;
}

body{
background-color:#2B3E42;
}


h1{
font-family: tahoma;
color:#2B3E42;
text-align:center;
font-size:30px;
}

h2{
font-size:16px;
font-family: Tahoma;
font-weight:bold;
text-decoration:underline;
color:#0174DF;
}

p{
font-size:12px;
}

/*Reglas del juego*/

#aviso{
text-align:center;
font-weight:bold;
}

#container{
width:600px;
background-color:white;
border:solid silver 3px;
padding:40px;
margin:40px auto;
text-align:justify;
float:center;
background-color:#F7F3E8;
}

/*Selección de personajes*/

#ingreso,#ingreso2{
margin-left:40%;
}

#container2{
width:600px;
margin:150px auto;
float:left;
background-color:#F7F3E8;
float:center;
}

#container3{
width:1024px;
height:568px;
border:solid silver 3px;
padding:40px;
margin:25px auto;
float:center;
background-color:#F7F3E8;
}

/*Ventana del juego*/ 

#area {
margin: 0 auto;
text-align: center;
background-color: #D7D7D7;
}

#juego{
width:400px;
height:300px;
margin:auto;
border: 2px solid black;
background-color:white;
float:center;
}

#seleccionJugadores li{
display:inline;
margin:30px;
}

#back{
text-align:left;
}

form{
float:left;
margin: 20px auto;
}       
 
#arriba{
margin-left:176px;
margin-top:10px;
}

#botones{
margin-left:120px;
}

#lucha{
margin-top:20px;
margin-left:315px;
}
 




